.details {
  padding: 7rem 0 0 0;
  min-height: 100vh;

  .details_backdrop {
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    filter: opacity(20%);
    margin: -3rem 0 -26rem 0;
    height: 450px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: inset 0px -50px 27px -18px #191b1c;
  }

  .details_container {
    filter: opacity(100%);
    margin: 0 auto;
    width: 65%;

    .details_container_movie {
      display: flex;
      width: 100%;

      .details_container_movie-image {
        margin: 0;
        height: 15rem;
        width: 10rem;
        z-index: 2;
      }

      .details_container_movie-details {
        margin: 0 0 0 auto;
        padding: 0 0 0 1rem;
        width: 90%;

        .details_container_movie-details-title {
          font-size: 1.7vw;
          color: #fff;
        }

        .details_container_movie-details-releasedate {
          margin: .3rem 0;
          font-size: 1.3vw;
          color: gray;
        }

        hr {
          border: .5px solid gray;
        }

        .details_container_movie-details_votes {
          display: flex;
          align-items: center;
          margin: .5rem 0;
          padding: 7px 5px;
          width: 3.7rem;
          border: 1px solid gray;
          color: #fff;
          background-color: #191b1c;

          .details_container_movie-details_votes-icon {
            width: 1.2rem;
          }

          .details_container_movie-details_votes-number {
            margin: 0 auto;
            max-width: 2.4ch;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
          }
        }

        .details_container_movie-details_genres {
          margin: 5px 0;
          max-height: 5rem;

          .details_container_movie-details_genres-button {
            border: .5px solid gray;
            background-color: #191b1c;
            cursor: pointer;
            color: #fff;
            font-size: .7rem;
            text-align: center;
            margin: 2px;
            padding: 10px;
            min-height: 2rem;
            white-space: nowrap;

            &:hover {
              background-color: #000;
            }
          }
        }
      }
    }

    .details_container_movie-synopsis {
      margin: 1rem 0 0 0;

      hr {
        border: .5px solid gray;
        margin: 1.3rem 0 1rem 0;
      }

      .details_container_movie-synopsis-paragraph {
        font-size: 1.2rem;
        color: #fff;
        max-width: 69.5vw;
      }
    }

    .details_container_movie-containervideo {
      display: flex;
      justify-content: center;
      margin: 10% 0;
      width: 100%;

      .details_container_movie-containervideo-video {
        height: 30vw;
        width: 50vw;
      }
    }

    a {
      outline: none;
      text-decoration: none;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    .AllTab {
      margin: 0;
      height: 18rem;

      .Tabs {
        list-style-type: none;
        border-end-end-radius: 8px;
        border-end-start-radius: 8px;
        background-color: #202020;
        padding: 0 0 3rem .4px;
        height: 2rem;

        .TabList {
          display: flex;
          list-style-type: none;
          color: #fff;
          border: none;

          .active {
            display: flex;
            border-end-end-radius: 3px;
            border-end-start-radius: 3px;
            color: #fff;
            background: none;
            cursor: default;
            border: none;
            border-bottom: 1px solid gray;
            padding: .7rem;
            margin: 0 .5rem 0 0;
            outline: none;
          }

          .false {
            margin: 0 .5rem 0 0;
            padding: .7rem;
            cursor: pointer;
          }
        }

        .TabPanel {
          .carousel1 > div {
            cursor: grab !important;
          }

          .carousel1,
          .carousel2 {
            cursor: grab;
            margin: 20px auto 5vw auto;
            height: 15vw;
            min-height: 7rem;

            .item {
              cursor: pointer;
              margin: 1vw 10px;
              min-height: 14vw;
              max-width: 8.5vw;

              .ImageLoading {
                height: 12vw;
                min-width: 100%;
              }

              img {
                height: 12vw;
                width: 100%;
                border-radius: 5px;
                pointer-events: none;
                z-index: -4;
              }

              p {
                color: #fff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                font-size: .8rem;
                margin: 10px 0 0 0;
              }

              .Text {
                margin: 5px 0 0;
                width: 100%;
              }

              &:hover {
                transition: 350ms;
                transform: scale(1.06);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .details {
    min-height: 120vh;

    .details_backdrop {
      height: 220px;
    }

    .details_container {
      width: 90%;
      margin: 14rem auto 0 auto;

      .details_container_movie {
        .details_container_movie-image {
          height: 13rem;
        }

        .details_container_movie-details {
          .details_container_movie-details-title {
            font-size: 4vw;
          }

          .details_container_movie-details-releasedate {
            font-size: 3.5vw;
          }

          .details_container_movie-details_genres
            > .details_container_movie-details_genres-button {
            padding: 5px;
            font-size: .6rem;
          }
        }
      }

      .details_container_movie-synopsis {
        margin: 1rem 0 0 0;
        width: 100%;

        hr {
          margin: 1.5rem 0;
        }

        .details_container_movie-synopsis-paragraph {
          line-height: 1.3;
          font-size: .9rem;
          max-width: 90vw;
        }
      }

      .details_container_movie-containervideo
        > .details_container_movie-containervideo-video {
        height: 55vw;
        width: 90vw;
      }

      .AllTab > .Tabs {
        width: 100%;
        margin: 0 0 8% 0;

        .TabPanel > .carousel1,
        .carousel2 {
          margin: 2rem 0 0 0;
          width: 90vw;

          .item {
            height: 29vw;
            min-width: 16vw;

            .ImageLoading {
              height: 25vw;
              min-width: 100%;
            }

            img {
              min-height: 25vw;
            }

            p {
              max-width: 10rem;
            }
          }
        }
      }
    }
  }
}
