.ContainerMovies {
  background-color: #191b1c;
  padding: 3.5rem 0;
  min-height: 100vh;
  
  a {
    outline: none;
    text-decoration: none;
  }
  
  .NewMovie {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 20rem;
    width: 90%;
    
    .title {
      margin: 2rem 0;
      width: 100%;
      
       h1 {
         color: #FFF;
         font-size: 1.5rem;
         align-items: center;
         border-left: 2px solid gray;
         padding: 5px 0 0 8px;
      }
    }
    
    .Movies {
      margin: 0 1.5vw 2vw 1.5vw;
      height: 21vw;
      
      .MovieImage {
        height: 18vw;
        border-radius: 5px;
      }

      .MovieTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0;
        max-width: 11vw;
        color: #FFF;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
      }
      
      &:hover {
        transition: 350ms;
        transform: scale(1.08);
      }
    }
    
    .NewMovieLoading{
      display: flex;
      flex-wrap: wrap;
      
      .NewMovieLoading2 {
        margin: 0 1.5vw 2.5vw 1.5vw;
        
        .ImageLoading {
          height: 18vw;
          width: 11.8vw;
          z-index: 2;
        }
        
        .Text {
          margin: .5em 0;
          width: 11.8vw;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ContainerMovies {
    .NewMovie {
      width: 95%;
      
      .Movies {
        margin: 0 .2em;
        height: 13em;
        
        .MovieImage {
          height: 10em;
        }
        
        .MovieTitle {
          max-width: 8em;
          font-size: .8rem;
        }
      }
      
      .NewMovieLoading{
        .NewMovieLoading2 {
          margin: 0 .2em;
          
          .ImageLoading {
            height: 10em;
            width: 6.7em;
          }
          
          .Text {
            width: 6.7em;
            margin: .5em 0 1.3em 0;
          }
        }
      }
    }
  }
}