.MoviesGenre {
  background-color: #191b1c;
  min-height: 100vh;
  
  .ContainerGenre {
    padding: 5rem 0 0 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 20rem;
    width: 80%;
    
    .title {
      width: 100%;
      
      h1 {
        color: #FFF;
        font-size: 1.5rem;
        align-items: center;
        border-left: 2px solid gray;
        padding: 5px 0 0 8px;
        
        &:first-letter {
          text-transform: capitalize;
        }
      }
    }
    
    a {
      outline: none;
      text-decoration: none;
    }
    
    .NewMovie {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2rem 0 3rem 0;
      min-height: 20rem;
      max-width: 78vw;
      width: 100%;
      
      .Movies {
        height: 23vw;
       
        .MovieImage {
          height: 18vw;
          border-radius: 5px;
        }
  
        .MovieTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 11vw;
          color: #FFF;
          margin: 5px 0;
          align-items: center;
          font-weight: 500;
          font-size: .8rem;
        }
        
        &:hover {
          transition: 350ms;
          transform: scale(1.08);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .MoviesGenre {
    .ContainerGenre {
      width: 95%;
      
      .NewMovie {
        min-height: 30rem;
        max-width: 96vw;
        
        .Movies {
          height: 13em;
          
          .MovieImage {
            height: 10em;
          }
          
          .MovieTitle {
            max-width: 8em;
          }
        }
      }
    }
  }
}