.ContainerGenre {
  background-color: #191b1c;
  padding: 3.5rem 0;
  min-height: 100vh;
  
  a {
    outline: none;
    text-decoration: none;
  }
  
  .MoviesGenre {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 20rem;
    width: 90%;
    
    .Title {
      margin: 2rem 0;
      width: 100%;
      
      h1 {
        color: #FFF;
        font-size: 1.5rem;
        align-items: center;
        border-left: 2px solid gray;
        padding: 5px 0 0 8px;
        
        &:first-letter {
          text-transform: capitalize;
        }
      }
    }
    
    .Movies {
      cursor: pointer;
      margin: 0 1.5vw 1.5em auto; 
      height: 21vw;
      
      .MovieImage {
        height: 18vw;
        border-radius: 5px;
      }

      .MovieTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 12vw;
        color: #FFF;
        margin: 5px 0;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
      }
      
      &:hover {
        transition: 350ms;
        transform: scale(1.08);
      }
    }
    
    .MoviesGenreLoading {
      display: flex;
      flex-wrap: wrap;
      
      .MoviesGenreLoading2 {
        margin: 0 1.5vw 1.2em auto;
        
        .ImageLoading {
          height: 18vw;
          width: 12vw;
          z-index: 2;
        }
        
        .Text {
          margin: .5em 0;
          width: 11.8vw;
        }
      }
    }
  }
  
  ul {
    margin: -1em 0 0 0;
    
    li {
      width: 6vw;
      
      div {
        color: #FFF;
      }
      
      .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: #2a2a2aff;
      }
        
      button {
        color: #FFF;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ContainerGenre {
    .MoviesGenre {
      width: 95%;
      
      .Movies {
        margin: 0 auto 5vw auto;
        height: 12em;
        width: 6.6em;
        
        .MovieImage {
          height: 10em;
          width: 6.7em;
        }
        
        .MovieTitle {
          max-width: 8em;
          font-size: .8rem;
        }
      }
      
      .MoviesGenreLoading {
        .MoviesGenreLoading2 {
          margin: 0 auto;
          
          .ImageLoading {
            height: 10em;
            width: 6.7em;
          }
          
          .Text {
            width: 6.7em;
            margin: .5em 0 1.3em 0;
          }
        }
      }
    }
    
    ul {
      margin: -3em 0 0 0;
      
      li {
        width: 10vw;
      }
    }
  }
}