.ContainerRated {
  background-color: #191b1c;
  padding: 3.5rem 0;
  min-height: 100vh;
  
  a {
    outline: none;
    text-decoration: none;
  }
  
  .TopRated {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 20rem;
    width: 80%;
    
    .title {
      width: 100%;
      margin: 2rem 0;
      
       h1 {
         color: #FFF;
         font-size: 1.5rem;
         align-items: center;
         border-left: 2px solid gray;
         padding: 5px 0 0 8px;
      }
    }
    
    .Rateds{
      height: 23vw;
      
      .RatedImage {
        height: 18vw;
        border-radius: 5px;
      }

      .RatedTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 11vw;
        color: #FFF;
        margin: 5px 0;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
      }
      
      &:hover {
        transition: 350ms;
        transform: scale(1.08);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ContainerRated {
    .TopRated {
      width: 95%;
      
      .Rateds {
        height: 13em;
        
        .RatedImage {
          height: 10em;
        }
        
        .RatedTitle {
          max-width: 8em;
          font-size: .8rem;
        }
      }
    }
  }
}