.ratedmovie {
  background-color: #191b1c;
  padding: 3.5rem 0;
  min-height: 100vh;

  a {
    outline: none;
    text-decoration: none;
  }

  .ratedmovie_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 20rem;
    width: 90%;

    .ratedmovie_container-title {
      margin: 2rem 0;
      width: 100%;
      color: #fff;
      font-size: 1.5rem;
      align-items: center;
      border-left: 2px solid gray;
      padding: 5px 0 0 8px;
    }

    .ratedmovie_container_card {
      cursor: pointer;
      margin: 0 1.5vw 3em auto;
      height: 19.5vw;

      .ratedmovie_container_card-image {
        height: 18vw;
        width: 12vw;
        border-radius: 5px;
      }

      .ratedmovie_container_card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 12vw;
        margin: 5px 0;
        color: #fff;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
      }

      &:hover {
        transition: 350ms;
        transform: scale(1.08);
      }
    }
  }

  ul {
    margin: -1em 0 0 0;

    li {
      width: 6vw;

      div {
        color: #fff;
      }

      .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: #202020;
      }

      button {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ratedmovie {
    .ratedmovie_container {
      width: 95%;

      .ratedmovie_container_card {
        margin: 0 auto;
        height: 13em;
        width: 6.6em;

        .ratedmovie_container_card-image {
          height: 10em;
          width: 6.7em;
        }

        .ratedmovie_container_card-title {
          max-width: 8em;
          font-size: 0.8rem;
        }
      }
    }

    ul {
      margin: -3em 0 0 0;

      li {
        width: 10vw;
      }
    }
  }
}
