.ContainerRated {
  background-color: #191b1c;
  padding: 3.5rem 0;
  min-height: 100vh;
  
  a {
    outline: none;
    text-decoration: none;
  }
  
  .TopRated {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 20rem;
    width: 90%;
    
    .Title {
      margin: 2rem 0;
      width: 100%;
      
      h1 {
        color: #FFF;
        font-size: 1.5rem;
        align-items: center;
        border-left: 2px solid gray;
        padding: 5px 0 0 8px;
      }
    }
    
    .Rateds{
      margin: 0 1.5vw 1.5em auto;
      height: 21vw;
      
      .RatedImage {
        height: 18vw;
        border-radius: 5px;
      }

      .RatedTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 12vw;
        color: #FFF;
        margin: 5px 0;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
      }
      
      &:hover {
        transition: 350ms;
        transform: scale(1.08);
      }
    }
    
    .TopRatedMovieLoading {
      display: flex;
      flex-wrap: wrap;
      
      .TopRatedMovieLoading2 {
        margin: 0 1.5vw 1.5em auto;
        
        .ImageLoading {
          height: 18vw;
          width: 12vw;
          z-index: 2;
        }
        
        .Text {
          margin: .5em 0;
          width: 11.8vw;
        }
      }
    }
  }
  
  ul {
    margin: -1em 0 0 0;
    
    li {
      width: 6vw;
      
      div {
        color: #FFF;
      }
      
      .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: #202020;
      }
        
      button {
        color: #FFF;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ContainerRated {
    .TopRated {
      width: 95%;
      
      .Rateds {
        margin: 0 auto;
        height: 13em;
        width: 6.6em;
        
        .RatedImage {
          height: 10em;
          width: 6.7em;
        }
        
        .RatedTitle {
          max-width: 8em;
          font-size: .8rem;
        }
      }
      
      .TopRatedMovieLoading {
        .TopRatedMovieLoading2 {
          margin: 0 auto;
          
          .ImageLoading {
            height: 10em;
            width: 6.7em;
          }
          
          .Text {
            width: 6.7em;
            margin: .5em 0 1.3em 0;
          }
        }
      }
    }
    
    ul {
      margin: -3em 0 0 0;
      
      li {
        width: 10vw;
      }
    }
  }
}