.resetpassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0 0 0;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  .resetpassword_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    .resetpassword_left-backimage {
      pointer-events: none;
      height: 100%;
      width: 100%;
    }
    .resetpassword_left-image {
      position: absolute;
      pointer-events: none;
      color: transparent;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      margin: 6rem 0 0 0;
      min-height: 13rem;
      height: 17vw;
      min-width: 18rem;
      width: 22vw;
      -webkit-animation: float 5s ease-out infinite;
      animation: float 5s ease-out infinite;
    }
    @-webkit-keyframes float {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      50% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
    @keyframes float {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      50% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  .resetpassword_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 36rem;
    width: 65%;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #191b1c;
    color: #d3d3d3f9;
    z-index: 3;

    .resetpassword_right_form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .resetpassword_right_form-title {
        margin: 0 auto 1rem auto;
      }
      .resetpassword_right_form-input {
        background-color: #3e3e3eca;
        border-radius: .4rem;
        margin: 1.5rem 0 0 0;
        height: auto;
        min-width: 23rem;
        width: 24vw;
        caret-color: #d3d3d3f9;
      }
      .resetpassword_right_form-submit {
        cursor: pointer;
        background-color: #808080;
        border: none;
        border-radius: .4rem;
        margin: 2rem 0 3rem 0;
        height: 3.5rem;
        min-width: 23rem;
        width: 24vw;

        &:hover {
          -webkit-filter: Brightness(.8);
          filter: Brightness(.8);
          -webkit-transition: 200ms;
          -o-transition: 200ms;
          transition: 200ms;
        }
      }
    }
  }
}

@media screen and (max-width: 829px) {
  .resetpassword {
    .resetpassword_left {
      display: none;
    }

    .resetpassword_right {
      min-width: 85vw;
      width: 100%;

      .resetpassword_right_form {
        .resetpassword_right_form-input,
        .resetpassword_right_form-submit {
          min-width: 85vw;
        }
      }
    }
  }
}
