.Categories {
  background-color: #191b1c;
  padding: 4rem 0 0 0;
  
  .ContainerCategory {
    margin: 0 auto;
    min-height: 100vh;
    width: 80%; 
    
    .title {
      width: 100%;
      margin: 2rem 0;
      
      h1 {
        font-size: 1.5rem;
        text-align: center;
        color: #FFF;
      }
    }
    
    button {
      border: 1px solid gray;
      background-color: #191B1C;
      width: 100%;
      color: #FFF;
      padding: 1rem;
      margin: .2rem 0;
      
      &:hover {
        background-color: black;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Categories {
    .ContainerCategorie {
      width: 90%;
    }
  }
}