.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #f3f3f3;

  .error-title {
    font-size: 6.5vw;
  }
  .error-subtitle {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .error {
    .error-title {
      font-size: 20vw;
    }
    .error-subtitle {
      font-size: 6vw;
    }
  }
}
