.ratedmovie {
  background-color: #191b1c;
  padding: 8rem 0 6rem 0;
  min-height: 100vh;

  .ratedmovie-title {
    margin: 0 auto;
    padding: 5px 0 0 8px;
    width: 85vw;
    max-width: 100rem;
    color: #f3f3f3;
    font-size: 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 2px solid #808080;
  }

  .ratedmovie_container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
    gap: 1rem;
    margin: 2.5rem auto 3rem auto;
    padding: 0 0 0 1rem;
    min-height: 60rem;
    width: 83vw;
    max-width: 100rem;

    .ratedmovie_container_card {
      cursor: pointer;
      -webkit-transition: 350ms;
      -o-transition: 350ms;
      transition: 350ms;
      margin: 0 0 2.5rem 0;
      min-height: 22rem;

      .ratedmovie_container_card-image {
        color: #0c0c0c;
        min-height: 21rem;
        height: 22rem;
        width: 100%;
        border-radius: 5px;
      }

      .ratedmovie_container_card-title {
        color: #f3f3f3;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 95%;
        margin: 1rem 0 0 0;
        width: 100%;
      }

      &:hover {
        -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
        transform: scale(1.08);
      }
    }
  }
}

@media screen and (max-width: 832px) {
  .ratedmovie {
    padding: 7.5rem 0 4rem 0;

    .ratedmovie-title {
      width: 93%;
    }

    .ratedmovie_container {
      grid-template-columns: repeat(auto-fit, minmax(min(9rem, 100%), 1fr));
      margin: 2.4rem auto 3rem auto;
      padding: 0;
      min-height: 30rem;
      min-width: 0;
      width: 90%;

      .ratedmovie_container_card {
        margin: 0 0 2rem 0;
        min-height: 0;
        height: auto;
        width: auto;

        .ratedmovie_container_card-image {
          min-height: 19rem;
          height: auto;
        }
      }
    }
  }
}
