.home {
  background-color: #191b1c;
  padding: 5rem 0 4rem 0;
  min-height: 100vh;

  .home_container {
    margin: 0 auto;
    width: 100%;

    .home_container_fade {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
      width: 85vw;
      max-width: 100rem;

      .home_container_fade-title {
        color: #f3f3f3;
        font-size: 1.3rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-left: 2px solid #808080;
        padding: 5px 0 0 8px;
      }

      .home_container_fade-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1rem .5rem 1rem 1rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: #f3f3f3;
        background-color: #202020; 
        border: .5px solid #808080;
        border-radius: 3px;
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;

        .home_container_fade-button-icon {
          margin: 0 0 0 .4rem;
        }

        &:hover, &:focus {
          background-color: #0c0c0c;
        }
      }
    }
    
    .swiper-pagination > .swiper-pagination-bullet {
      background-color: #808080;
      margin: 0 .4rem;
      height: .4rem;
      width: 2rem;
      border-radius: .5rem;
    }
    
    .swiper-button-next, .swiper-button-prev {
      --swiper-navigation-size: 1.5rem;
      margin: -2rem 2rem;
      color: #f3f3f3;
      background-color: #202020;
      border-radius: 100%;
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
    }
    
    .swiper-button-next:hover, .swiper-button-prev:hover {
      background-color: #0c0c0c;
    }
    
    .swiper-button-prev {
      padding: 1.9rem 1.5rem 1.9rem 1.3rem;
      width: 4rem;
    }
    
    .swiper-button-next {
      padding: 1.9rem 1.3rem 1.9rem 1.5rem;
      width: 4rem;
    }
    
    .home_container_popular {
      margin: 0 0 2rem 0;
      height: 47rem;
      width: 100%;

      .home_container_popular_card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #191b1c;
        width: 100%;

        .home_container_popular_card-image {
          -webkit-filter: brightness(.6);
                  filter: brightness(.6);
          -o-object-fit: cover;
             object-fit: cover;
          min-height: 47rem;
          height: 100%;
          width: 100%;
          pointer-events: none;
        }
        
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: rgb(25,27,28);
          background: -o-linear-gradient(bottom, rgba(25,27,28,1) 0%, rgba(25,27,28,.7963015095571454) 12%, rgba(25,27,28,0) 32%);
          background: -webkit-gradient(linear, left bottom, left top, from(rgba(25,27,28,1)), color-stop(12%, rgba(25,27,28,.7963015095571454)), color-stop(32%, rgba(25,27,28,0)));
          background: linear-gradient(0deg, rgba(25,27,28,1) 0%, rgba(25,27,28,.7963015095571454) 12%, rgba(25,27,28,0) 32%); 
        }
      }
        
      .home_container_popular_caption {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 0;
        margin: 12rem 0 0 12.5vw;
        z-index: 2;

        .home_container_popular_caption-title {
          font-size: 3rem;
          color: #f3f3f3;
        }
        
        .home_container_popular_caption-description {
          margin: 1rem 0 2rem 0;
          min-width: 30rem;
          width: 60vw;
          max-width: 44rem;
          font-size: 1.5rem;
          color: #f3f3f3;
        }

        .home_container_popular_caption-button {
          cursor: pointer;
          color: #f3f3f3;
          background-color: #202020;
          padding: 1rem;
          width: 8.1rem;
          border: .5px solid #808080;
          border-radius: .5rem;
          text-transform: uppercase;
          -webkit-transition: 300ms;
          -o-transition: 300ms;
          transition: 300ms;

          &:hover, &:focus {
            background-color: #0c0c0c;
          }
        }
      }
    }
    
    .home_container_newmovie, .home_container_ratedmovie {
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
      gap: .5rem;
      margin: 1.5rem auto 3rem auto;
      padding: 0 0 0 1rem;
      min-height: 20rem;
      width: 85vw;
      max-width: 100rem;
      
      .home_container_newmovie_card, .home_container_ratedmovie_card {
        cursor: pointer;
        -webkit-transition: 350ms;
        -o-transition: 350ms;
        transition: 350ms;
        margin: 0 0 2.5rem 0;
        min-height: 24.7rem;
        width: 15rem;
        
        .home_container_newmovie_card-image, .home_container_ratedmovie_card-image {
          color: #0c0c0c;
          height: 22rem;
          width: 100%;
          border-radius: 5px;
        }
        
        .home_container_newmovie_card-title, .home_container_ratedmovie_card-title {
          color: #f3f3f3;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          font-size: 95%;
          margin: 1rem 0 0 0;
          width: 100%;
        }

        &:hover, &:focus {
          -webkit-transform: scale(1.06);
          -ms-transform: scale(1.06);
          transform: scale(1.06);
        }
      }
    }
  }
}

@media screen and (max-width: 832px) {
  .home {
    padding: 5rem 0 3rem 0;

    .home_container {
      .home_container_fade {
        min-width: 0;
        width: 95%;
      }
      
      .swiper-pagination > .swiper-pagination-bullet {
        margin: 0 .3rem;
        width: 1.4rem;
      }
      
      .swiper-button-next, .swiper-button-prev {
        --swiper-navigation-size: 1.2rem;
        margin: -2rem -.2rem;
      }
      
      .swiper-button-prev {
        padding: 1.3rem 1.2rem 1.4rem 1rem;
        height: 3rem;
        width: 3rem;
      }
    
      .swiper-button-next {
        padding: 1.3rem 1rem 1.4rem 1.2rem;
        height: 3rem;
        width: 3rem;
      }
      
      .home_container_popular {
        margin: 0 0 3rem 0;
        height: 33rem;
        
        .home_container_popular_card {
          height: 100%;
          -webkit-filter: opacity(100%);
          filter: opacity(100%);
          
          .home_container_popular_card-image {
            min-height: 0;
          }
          
          &::before {
            background: rgb(25,27,28);
            background: -o-linear-gradient(bottom, rgba(25,27,28,1) 0%, rgba(25,27,28,.4985487005683813) 14%, rgba(25,27,28,0) 20%);
            background: -webkit-gradient(linear, left bottom, left top, from(rgba(25,27,28,1)), color-stop(14%, rgba(25,27,28,.4985487005683813)), color-stop(20%, rgba(25,27,28,0)));
            background: linear-gradient(0deg, rgba(25,27,28,1) 0%, rgba(25,27,28,.4985487005683813) 14%, rgba(25,27,28,0) 20%); 
          }
        }

        .home_container_popular_caption {
          margin: 8rem 0 0 16vw;

          .home_container_popular_caption-title {
            font-size: 2rem;
          }
          .home_container_popular_caption-description {
            margin: .5rem 0 1.5rem 0;
            min-width: 10rem;
            width: 70vw;
            max-width: 23rem;
            font-size: 1rem;
          }
          .home_container_popular_caption-button {
            width: 8.5rem;
            font-size: 1rem;
          }
        }
      }
      
      .home_container_newmovie, .home_container_ratedmovie {
        grid-template-columns: repeat(auto-fit, minmax(min(9rem, 100%), 1fr));
        gap: 1rem;
        padding: 0;
        min-width: 0;
        width: 90%;
        min-height: 30rem;

        .home_container_newmovie_card, .home_container_ratedmovie_card {
          margin: 0 0 1.5rem 0;
          min-height: 0;
          height: auto;
          width: auto;
          
          .home_container_newmovie_card-image, .home_container_ratedmovie_card-image {
            min-height: 13rem;
            height: 90%;
          }
        }
      }
    }
  }
}
