.settings {
  margin: 0 auto;
  padding: 7rem 0 2rem 0;
  min-height: 100vh;
  width: 80%;

  .settings-title {
    color: #f3f3f3;
    font-size: 1.5em;
    border-left: 2px solid #808080;
    padding: 5px 0 0 8px;
  }

  .settings-subtitle {
    color: #d3d3d3f9;
    margin: 2rem 0 1rem 2rem;
  }

  .settings_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &.image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;

      .settings_form-image {
        color: transparent;
        margin: 1rem 5rem 3rem 0;
        height: 17rem;
        width: 17rem;
        border-radius: 100%;
      }

      .settings_form_right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .settings_form_right-upload input[type="file"] {
          background-color: #3e3e3eca;
          color: #d3d3d3f9;
          margin: 2rem 0 4rem 0;
          height: 1.6rem;
          width: 100%;
          font-size: 1rem;
        }
        .settings_form-submit {
          margin: 1rem 0 0 0;
        }
      }
    }

    .settings_form-input {
      background-color: #3e3e3eca;
      border-radius: .4rem;
      margin: 1rem 0;
      min-height: 3.5rem;
      height: auto;
      min-width: 23rem;
      width: 20%;
    }
    .settings_form-input.description {
      min-height: 8rem;
      width: 100%;
    }

    .settings_form-submit {
      cursor: pointer;
      background-color: #808080;
      border: none;
      border-radius: .4rem;
      margin: 1rem 0 3rem 0;
      height: 3.5rem;
      min-width: 23rem;
      width: 20%;

      &:hover {
        -webkit-filter: Brightness(.8);
        filter: Brightness(.8);
        -webkit-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;
      }
    }
    .settings_form-submit.description {
      margin: 0 0 3rem auto;
    }
    .settings_form-submit.delete {
      margin: .5rem 0 3rem 0;
      background-color: #95141f;
      color: #f3f3f3;
    }
  }
}

@media screen and (max-width: 786px) {
  .settings {
    width: 95%;

    .settings-subtitle {
      margin: 2rem 0 1rem 1rem;
    }

    .settings_form {
      margin: 0 5vw 0 3vw;

      &.image {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .settings_form-image {
          margin: 1rem auto 3rem auto;
        }
       }

      .settings_form-input,
      .settings_form-submit,
      .settings_form-submit.description {
        width: auto;
      }
    }
  }
}
