.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  
  .profile_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 7rem 0 0 0;
    min-width: 46.2rem;
    width: 65%;
	
	.profile_container_details {
	  display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
	  
      .profile_container_details-image {
        color: transparent;
        border-radius: 100%;
        margin: 0 3rem 0 0;
        height: 15rem;
        width: 15rem;
      }

      .profile_container_details_detail {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .profile_container_details_detail-title {
          min-width: 20rem;
          font-size: 2rem;
          color: #f3f3f3;
        }
        .profile_container_details_detail-description {
          font-size: 1rem;
          margin: 1rem 0 0 0;
          color: #d3d3d3f9;
        }
      }
    }

    .profile_container_favorites {
      margin: 5.5rem 0 0 0;
      
      .profile_container_favorites-title {
        color: #f3f3f3;
        font-size: 130%;
        border-left: 2px solid #808080;
        margin: 0 0 2rem 0;
        padding: 5px 0 0 8px;
        min-width: 20rem;
      }

      .profile_container_favorites_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;

        .profile_container_favorites_container_item {
          margin: 0 1.2rem 2rem 1.2rem;
          width: 13rem;

          .profile_container_favorites_container_item-image {
            color: transparent;
            border-radius: 5px;
            height: 90%;
            width: 100%;
          }
          .profile_container_favorites_container_item-title {
            color: #f3f3f3;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            font-size: 95%;
            margin: .6vw 0 0 0;
          }

          &:hover {
            -webkit-transition: 350ms;
            -o-transition: 350ms;
            transition: 350ms;
            -webkit-transform: scale(1.06);
            -ms-transform: scale(1.06);
            transform: scale(1.06);
          }
        }
      }
    }
  }

  .profile_noFound {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    color: #f3f3f3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 731px) {
  .profile > .profile_container {
    padding: 6rem 0 0 0;
    min-width: 0;
    width: 100%;
	
	.profile_container_details {
	  -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
    
      .profile_container_details-image {
        margin: 0 0 1rem 0;
        height: 16rem;
        width: 16rem;
      }

      .profile_container_details_detail {
        text-align: center;

        .profile_container_detail_details-description {
          margin: 1rem 0 0 0;
        }
      }
    }

    .profile_container_favorites {
      width: 100%;
      
      .profile_container_favorites-title {
        margin: 0 0 2rem 1rem;
      }

      .profile_container_favorites_container {
        padding: 0 2.4rem;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .profile_container_favorites_container_item {
          margin: 0 0 3rem 0;
          width: 13rem;
        }
      }
    }
  }
}

@media screen and (max-width: 453px) {
  .profile
    > .profile_container
    > .profile_container_favorites
    > .profile_container_favorites_container {
    padding: 0 0 0 2.8rem;
    width: 90%;

    .profile_container_favorites_container_item {
      width: 10rem;
    }
  }
}

@media screen and (max-width: 370px) {
  .profile
    > .profile_container
    > .profile_container_favorites
    > .profile_container_favorites_container
    > .profile_container_favorites_container_item {
    margin: 0 auto 1rem auto;
    width: auto;
  }
}
