.genre {
  background-color: #191b1c;
  padding: 3.5rem 0;
  min-height: 100vh;

  a {
    outline: none;
    text-decoration: none;
  }

  .genre_containergenre {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 20rem;
    width: 90%;

    .genre_containergenre-title {
      margin: 2rem 0;
      height: auto;
      width: 100%;
      color: #fff;
      font-size: 1.5rem;
      border-left: 2px solid gray;
      padding: 0.4vw 0 0.4vw 8px;

      &:first-letter {
        text-transform: capitalize;
      }
    }

    .genre_containergenre_card {
      cursor: pointer;
      margin: 0 1.5vw 3.5em auto;
      height: 19vw;

      .genre_containergenre_card-image {
        height: 18vw;
        width: 12vw;
        margin: 0.5em 0;
        z-index: 2;
        border-radius: 5px;
      }

      .genre_containergenre_card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 12vw;
        color: #fff;
        margin: 1px 0;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
      }

      &:hover {
        transition: 350ms;
        transform: scale(1.08);
      }
    }
  }

  ul {
    margin: -1em 0 0 0;

    li {
      width: 4vw;

      div {
        font-size: 1rem;
        color: #fff;
      }

      .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: #2a2a2aff;
      }

      button {
        font-size: 1rem;
        padding: 1.2vw 1vw;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .genre {
    .genre_containergenre {
      width: 80%;

      .genre_containergenre_card {
        margin: 0 auto 5vw auto;
        height: 12em;
        width: 6.6em;

        .genre_containergenre_card-image {
          height: 10em;
          width: 6.7em;
        }

        .genre_containergenre_card-title {
          width: 6.7em;
          margin: 0.5em 0 1.3em 0;
          max-width: 8em;
          font-size: 0.8rem;
        }
      }
    }

    ul {
      width: 65vw;
      margin: -3em 0 0 -4vw;

      li {
        margin: 0 auto;

        button {
          padding: 1vw;
        }
      }
    }
  }
}
