.Home {
  min-height: 100vh;
  background-color: #191b1c;
  padding: 5rem 0 0 10vw;
  
  h1 {
    color: #FFF;
    font-size: 1.5rem;
    align-items: center;
    border-left: 2px solid gray;
    padding: 5px 0 0 8px;
  }
  
  a {
    outline: none;
    text-decoration: none;
  }
  
  .Fade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    
    button {
      display: flex;
      padding: 7px;
      background-color: #202020;
      color: lightgray;
      border: none;
      border-radius: 3px;
      
      p {
        padding: 0 4px;
      }
      
      &:hover {
        color: #FFF;
        font-size: .9rem;
        transition: 300ms;
      }
      
    }
  }

  .Popular {
    height: 12rem;
    max-width: 77vw;
    margin: 20px 0 50px 10px;
    z-index: 2;
    
    div {
      transform: all 0.6s;
      overflow: hidden;
      min-width: 13vw;
      
      .Populars {
        height: 13rem;
        margin: 6px 0 0 5px;
        
        .PopularImage {
          height: 10rem;
          border-radius: 5px;
          z-index: -4;
        }
  
        .PopularTitle {
          color: #FFF;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 7rem;
          font-size: .8rem;
          margin: 5px 0;
        }
        
        &:hover {
          transition: 320ms;
          transform: scale(1.06);
        }
        
      }
    }
  }

  .NewMovie {
    display: flex;
    padding: 1rem 0 3rem 0;
    flex-wrap: wrap;
    min-height: 20rem;
    min-width: 70vw;
    max-width: 80vw;
    
    .Movies {
      height: 12rem;
      padding: 1rem .8rem 0 .6rem;
      margin: 0 0 10% 0;
      
      .MovieImage {
        height: 10rem;
        border-radius: 5px;
      }

      .MovieTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 6.5rem;
        color: #FFF;
        margin: 5px 0;
        align-items: center;
        font-weight: 500;
        font-size: .8rem;
      }
      
      &:hover {
        margin: 0 0 -10px 0;
        transition: 320ms;
        transform: scale(1.08);
      }
      
    }
  }

  .TopRated {
    display: flex;
    padding: 1rem 0 3rem 0;
    flex-wrap: wrap;
    min-height: 20rem;
    min-width: 70vw;
    max-width: 80vw;
    
    .Rateds {
      height: 12rem;
      padding: 1rem .7rem 0 .6rem;
      margin: 0 0 10% 0;
      
      .RatedImage {
        height: 10rem;
        border-radius: 5px;
      }

      .RatedTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 6.5rem;
        color: #FFF;
        margin: 5px 0;
        align-items: center;
        font-weight: 500;
        font-size: .8rem;
      }
      
      &:hover {
        margin: 0 0 -10px 0;
        transition: 320ms;
        transform: scale(1.08);
      }
    
    }
  }
}


@media screen and (max-width: 800px) {
  .Home {
    padding: 5rem 0 0 2vw;
    
    .Fade {
      width: 97%;
    }
    
    .Popular {
      max-width: 95vw;
      margin: 10px 10px 40px 0;
      
      div {
        padding: 0 1%;
        min-width: 8rem;
      }
    }

    .NewMovie {
      min-height: 30rem;
      min-width: 100%;
      padding: 2rem 0 3rem 0;
      
      .Movies {
        padding: 0 .5rem 1rem 0;
      }
    }

    .TopRated {
      min-height: 30rem;
      max-width: 100%;
      padding: 2rem 0 3rem 0;
      
      .Rateds {
        padding: 0 .4rem 1rem 0;
      }
    }
  }
}
