.Home {
  min-height: 100vh;
  background-color: #191b1c;
  padding: 5rem 0 0 0;

  .ContainerHome {
    margin: 0 auto;
    width: 80%;

    h1 {
      color: #FFF;
      font-size: 1.5em;
      align-items: center;
      border-left: 2px solid gray;
      padding: 5px 0 0 8px;
    }

    a {
      outline: none;
      text-decoration: none;
    }

    .Fade {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        display: flex;
        cursor: pointer;
        padding: 7px;
        background-color: #202020;
        color: lightgray;
        border: none;
        border-radius: 3px;

        p {
          padding: 0 4px;
        }

        &:hover {
          color: #FFF;
          transform: scale(1.1);
          transition: 300ms;
        }
      }
    }
    
    .owl-theme {
      display: flex;
      overflow: hidden;
      margin: 20px 0 5vw 10px;
      height: 23vw;
      max-width: 76.8vw;

      .item {
        cursor: pointer;
        margin: 1vw 10px;
        min-height: 8rem;
        height: 20vw;
        max-width: 12.5vw;

        .PopularImage {
          min-height: 8rem;
          height: 19vw;
          border-radius: 5px;
          pointer-events: none;
        }

        .PopularTitle {
          color: #FFF;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 87%;
          margin: 5px 0 0 0;
          width: 100%;
          max-width: 12.5vw;
        }

        .ImageLoading {
          min-height: 8rem;
          height: 18vw;
          min-width: 12vw;
        }

        .Text {
          margin: 5px 0 0;
          width: 100%;
        }

        &:hover {
          transition: 350ms;
          transform: scale(1.06);
        }
      }
    }

    .NewMovie {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0 3rem 0;
      min-height: 20rem;

      .Movies {
        cursor: pointer;
        margin: 0 auto 2em auto;
        align-items: center;
        flex-direction: column;
        height: 20.5vw;
        width: 12vw;

        .MovieImage {
          height: 18vw;
          border-radius: 5px;
        }

        .MovieTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 12vw;
          color: #FFF;
          font-weight: 500;
          font-size: 87%;
        }

        &:hover {
          font-weight: 400;
          transition: 350ms;
          transform: scale(1.08);
        }
      }

      .MovieLoading {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0 3rem 0;
        min-height: 20rem;
        max-width: 78vw;
        width: 100%;

        .MovieLoading2 {
          margin: 0 auto 2em auto;
          height: 20vw;
          width: 12vw;

          .ImageLoading {
            height: 18vw;
            width: 12vw;
            z-index: 2;
          }

          .Text {
            margin: 5px 0;
            width: 100%;
          }
        }
      }
    }

    .TopRated {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0 3rem 0;
      min-height: 20rem;

      .Rateds {
        margin: 0 auto 2em auto;
        height: 20.5vw;
        width: 12vw;
        cursor: pointer;

        .RatedImage {
          height: 18vw;
          border-radius: 5px;
        }

        .RatedTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 12vw;
          color: #FFF;
          font-weight: 500;
          font-size: 87%;
        }

        &:hover {
          transition: 350ms;
          transform: scale(1.08);
        }
      }

      .TopRatedMovieLoading {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0 3rem 0;
        min-height: 20rem;
        max-width: 78vw;
        width: 100%;

        .TopRatedMovieLoading2 {
          margin: 0 auto 2em auto;
          height: 20.5vw;
          width: 12vw;

          .ImageLoading {
            height: 18vw;
            width: 12vw;
            z-index: 2;
          }

          .Text {
            margin: 5px 0;
            width: 100%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .Home {
    padding: 5rem 0 0 2vw;

    .ContainerHome {
      width: 100%;

      .Fade {
        width: 98%;
      }

      .owl-theme {
        margin: 10px 10px 10vw 0;
        height: 12rem;
        max-width: 96vw;

        .item {
          padding: 0 1%;
          height: 13em;
          min-width: 6.7rem;
  
          .PopularImage {
            height: 10em;
          }
  
          .PopularTitle {
            max-width: 8em;
          }
  
          .ImageLoading {
            height: 10em;
            width: 7em;
          }
  
          .Text {
            margin: .5em 0 1.3em 0;
            width: 7em;
          }
        }
      }

      .NewMovie {
        min-height: 30rem;

        .Movies {
          margin: 0 auto 1.5rem auto;
          min-height: 11em;
          height: 30vw;
          width: auto;

          .MovieImage {
            height: 10em;
            width: 100%;
          }

          .MovieTitle {
            max-width: 8em;
          }
        }

        .MovieLoading {
          padding: 0;
          min-height: 30rem;
          max-width: 100%;

          .MovieLoading2 {
            margin: 0 auto 2rem auto;
            min-height: 11em;
            height: 30vw;
            min-width: 6.7rem;

            .ImageLoading {
              height: 10em;
              width: 100%;
            }

            .Text {
              max-width: 8em;
            }
          }
        }
      }

      .TopRated {
        min-height: 30rem;

        .Rateds {
          margin: 0 auto 1.5rem auto;
          min-height: 11em;
          height: 30vw;
          width: auto;

          .RatedImage {
            height: 10em;
          }

          .RatedTitle {
            max-width: 8em;
          }
        }

        .TopRatedMovieLoading {
          padding: 0;
          min-height: 30rem;
          max-width: 100%;

          .TopRatedMovieLoading2 {
            margin: 0 auto 2rem auto;
            min-height: 11em;
            height: 30vw;
            min-width: 6.7rem;

            .ImageLoading {
              height: 10em;
              width: 100%;
            }

            .Text {
              max-width: 8em;
            }
          }
        }
      }
    }
  }
}