.Home {
  min-height: 100vh;
  background-color: #191b1c;
  padding: 5rem 0 0 0;
  
  .ContainerHome {
    margin: 0 auto;
    width: 80%;
    
    h1 {
      color: #FFF;
      font-size: 1.5rem;
      align-items: center;
      border-left: 2px solid gray;
      padding: 5px 0 0 8px;
    }
    
    a {
      outline: none;
      text-decoration: none;
    }
    
    .Fade {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      button {
        display: flex;
        padding: 7px;
        background-color: #202020;
        color: lightgray;
        border: none;
        border-radius: 3px;
        
        p {
          padding: 0 4px;
        }
        
        &:hover {
          color: #FFF;
          font-size: .9rem;
          transition: 300ms;
        }
      }
    }
  
    .Popular {
      margin: 20px 0 60px 10px;
      height: 13rem;
      max-width: 76.8vw;
      z-index: 2;
      
      ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none; 
        scrollbar-width: none;
      }
      
      div {
        transform: all 0.6s;
        overflow: hidden;
        min-width: 13vw;
        margin: .6rem 0 0 0;
        
        .Populars {
          height: 13rem;
          margin: 6px 0 0 5px;
          
          .PopularImage {
            height: 10rem;
            border-radius: 5px;
            z-index: -4;
          }
    
          .PopularTitle {
            color: #FFF;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 7rem;
            font-size: .8rem;
            margin: 5px 0;
          }
          
          &:hover {
            transition: 350ms;
            transform: scale(1.06);
          }
        }
      }
    }
  
    .NewMovie {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 1rem 0 3rem 0;
      min-height: 20rem;
      max-width: 78vw;
      width: 100%;
      
      .Movies {
        height: 23vw;
       
        .MovieImage {
          height: 18vw;
          border-radius: 5px;
        }
  
        .MovieTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 11vw;
          color: #FFF;
          margin: 5px 0;
          align-items: center;
          font-weight: 500;
          font-size: .8rem;
        }
        
        &:hover {
          transition: 350ms;
          transform: scale(1.08);
        }
      }
    }
  
    .TopRated {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1rem 0 3rem 0;
      min-height: 20rem;
      max-width: 78vw;
      width: 100%;
      
      .Rateds {
        height: 23vw;
       
        .RatedImage {
          height: 18vw;
          border-radius: 5px;
        }
  
        .RatedTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 11vw;
          color: #FFF;
          margin: 5px 0;
          align-items: center;
          font-weight: 500;
          font-size: .8rem;
        }
        
        &:hover {
          transition: 350ms;
          transform: scale(1.08);
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .Home {
    padding: 5rem 0 0 2vw;
    
    .ContainerHome {
      width: 100%;
      
      .Fade {
        width: 98%;
      }
      
      .Popular {
        max-width: 96vw;
        margin: 10px 10px 60px 0;
        
        div {
          padding: 0 1%;
          min-width: 8rem;
        }
      }
  
      .NewMovie {
        min-height: 30rem;
        max-width: 96vw;
        
        .Movies {
          height: 13em;
          
          .MovieImage {
            height: 10em;
          }
          
          .MovieTitle {
            max-width: 8em;
          }
        }
      }
  
      .TopRated {
        min-height: 30rem;
        max-width: 96vw;
        
        .Rateds {
          height: 13em;
          
          .RatedImage {
            height: 10em;
          }
          
          .RatedTitle {
            max-width: 8em;
          }
        }
      }
    }
  }
}