* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.Header {
  display: flex;
  position: fixed;
  padding: 0 .7rem;
  height: 4rem;
  width: 100%;
  align-items: center;
  background-color: #0c0c0ce7;
  z-index: 4;
  
  .Menu {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  form {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
    justify-content: center;
    
    input {
      padding: 20px 40px 20px 15px;
      height: 2rem;
      width: 30vw;
      border-radius: 4px;
      background-color: #3e3e3eca;
      align-items: center;
      color: #d3d3d3f9;
      border: none;
      outline: none;
    }
    
    .Search {
      margin: 0 1em 0 -3em;
      background: transparent;
      border: none;
    }
  }
}

@media screen and (max-width: 786px) {
  .Header {
    form {
      input {
        width: 50vw;
      }
      
      .Search {
        margin: 0 .8em 0 -2.8em;
      }
    }
  }
}