html {
  background-color: #191b1c;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  position: fixed;
  padding: 0 .7rem;
  height: 4rem;
  width: 100%;
  align-items: center;
  background-color: #0c0c0ce7;
  z-index: 4;
  
  .header-menu {
    padding: .5rem 0 0 0;
    background: none;
    border: none;
  }
  
  .header_search-from {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
    justify-content: center;
    
    .header_search-from_search {
      padding: 20px 40px 20px 15px;
      height: 2rem;
      width: 30vw;
      border-radius: 4px;
      background-color: #3e3e3eca;
      align-items: center;
      color: #d3d3d3f9;
      border: none;
      outline: none;
    }
    
    .header_search-from_button {
      cursor: pointer;
      margin: .2em 1em 0 -3em;
      background: transparent;
      border: none;
    }
  }
}

@media screen and (max-width: 786px) {
  .header {
    .header_search-from {
      .header_search-from_search {
        width: 50vw;
      }
      
      .header_search-from_button {
        margin: .2em .8em 0 -2.8em;
      }
    }
  }
}