.search {
  background-color: #191b1c;
  min-height: 100vh;
  padding: 5rem 0;

  .search_container {
    margin: 0 auto;
    width: 80%;

    .search_container-title {
      color: #fff;
      font-size: 1.5rem;
      align-items: center;
      border-left: 2px solid gray;
      padding: 5px 0 0 8px;
    }

    .search_container_moviefound {
      width: 60vw;
      margin: 3rem 0 0 1.5rem;

      a {
        outline: none;
        text-decoration: none;
      }

      .search_container_moviefound_card {
        display: flex;
        cursor: pointer;
        margin: 1em 0;
        height: 12rem;
        border-bottom: 0.5px solid #3e3e3eca;

        .search_container_moviefound_card_containerimage
          > .search_container_moviefound_card_containerimage-image {
          height: 11rem;
          min-width: 8.5rem;
          margin: 0 1rem 0 0;
        }

        .search_container_moviefound_card_description {
          display: flex;
          flex-direction: column;

          .search_container_moviefound_card_description-title {
            color: #fff;
            font-size: 1.2rem;
            max-height: 3rem;
          }

          .search_container_moviefound_card_description-synopsis {
            margin: 0.5rem 0 0 0;
            color: gray;
            height: 7rem;
            font-size: 1rem;
          }

          .search_container_moviefound_card_description_vote {
            display: flex;
            align-items: center;
            height: 1rem;
            width: 2.5rem;
            color: #fff;

            .search_container_moviefound_card_description_vote-icon {
              margin: 0 0.3rem 0 0;
            }
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .search_container-movienoFound {
      margin: 1.5rem 0 0 0.5rem;

      .search_container-movienoFound-title {
        font-size: 2.3rem;
        color: gray;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search > .search_container {
    margin: 0 0 0 3vw;
    padding: 1rem 0 5rem 0;
    
    .search_container-title {
      font-size: 1rem;
    }

    .search_container_moviefound {
      margin: 3rem 0 0 .5rem;
      width: 90vw;

      .search_container_moviefound_card
        > .search_container_moviefound_card_description {
        .search_container_moviefound_card_description-title {
          font-size: 0.8rem;
        }

        .search_container_moviefound_card_description-synopsis {
          font-size: 0.7rem;
        }
      }
    }

    .search_container-movienoFound {
      margin: 1rem 0 0 .5rem;

      .search_container-movienoFound-title {
        font-size: 1.1rem;
      }
    }
  }
}
