.SideBar {
  display: flex;
  position: fixed;
  flex-direction: column;
  min-height: 100%;
  width: 200px;
  transition: 800ms;
  left: -100%;
  z-index: 6;
  
  .Close-Sidebar {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    width: 50px;
    margin: -5px 0 -13px 0;
  }
    
  .Link {
    color: #FFF;
    text-decoration: none;
    
    .Buttons-Sidebar {
      color: #FFF;
      height: 2.5rem;
      width: 80%;
      margin: 10px 0 0 16px;
      background: none;
      border: none;
    }
  }
}

.SideBarActive {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #0C0C0C;
  min-height: 100%;
  width: 200px;
  transition: 300ms;
  left: 0;
  z-index: 6;
  
  .Close-Sidebar {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    width: 50px;
    margin: -5px 0 -13px 0;
  }
  
  .Link {
    color: #FFF;
    outline: none;
    text-decoration: none;
    
    .Buttons-Sidebar {
      height: 2.5rem;
      width: 80%;
      color: #FFF;
      margin: 10px 0 0 16px;
      background: none;
      border: none;
    }
  }
    
  .Link:hover {
    .Buttons-Sidebar {
      background-color: #FFF;
      border-radius: 10px;
      color: #0C0C0C;
    }
  }
}

.ShadowActive {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000000b8;
  z-index: 4;
}