.SideBar {
  display: flex;
  position: fixed;
  flex-direction: column;
  min-height: 100%;
  width: 200px;
  transition: 800ms;
  left: -100%;
  z-index: 6;
  
  .Close-Sidebar {
    display: flex;
    background: none;
    border: none;
    width: 50px;
    margin: -5px 0 -10px 0;
  }
  
  .Buttons-Sidebar {
    display: flex;
    align-items: center;
    margin: .5em auto 0 auto;
    padding: 0 .5em;
    height: 2.5rem;
    width: 90%;
    color: #FFF;
    background: none;
    border: none;

    .Icon {
      margin: -.2rem .4rem 0 0;
    }
  }
}

.SideBarActive {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #0C0C0C;
  min-height: 100%;
  width: 200px;
  transition: 300ms;
  left: 0;
  z-index: 6;
  
  .Close-Sidebar {
    display: flex;
    border-radius: 100%;
    background: none;
    border: none;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 10px 0 0 0;
  }
  
  .Buttons-Sidebar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: .5em auto 0 auto;
    padding: 0 1em;
    height: 2.5rem;
    width: 90%;
    color: #FFF;
    background: none;
    border: none;
    
    .Icon {
      margin: -.2rem .4rem 0 0;
    }
    
    &:hover {
      background-color: #FFF;
      border-radius: 10px;
      color: #0C0C0C;
    }
  }
}

.ShadowActive {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000000b8;
  z-index: 4;
}