.Search {
  background-color: #191b1c;
  
  .ResultdFound {
    min-height: 100vh;
    padding: 5rem 0 0 1rem;
    
    h1 {
      font-size: 1rem;
      color: #FFF;
      align-items: center;
      border-left: 2px solid gray;
      padding: 5px 0 0 8px;
    }
    
  }
}