.signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  .signin_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .signin_left-image {
      pointer-events: none;
      color: transparent;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      min-height: 13rem;
      height: 15vw;
      min-width: 18rem;
      width: 20vw;
      -webkit-animation: float 5s ease-out infinite;
      animation: float 5s ease-out infinite;
    }
    @-webkit-keyframes float {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      50% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
    @keyframes float {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      50% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  .signin_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4rem 0;
    min-width: 23rem;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #d3d3d3f9;

    .signin_right_form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .signin_right_form-title {
        margin: 1rem auto;
      }
      .signin_right_form-input {
        background-color: #3e3e3eca;
        border-radius: .4rem;
        margin: 1.5rem 0 0 0;
        height: auto;
        min-width: 23rem;
        width: 23vw;
        caret-color: #d3d3d3f9;
      }
      .signin_right_form-checkbox {
        margin: 1rem 0 0 0;
      }
      .signin_right_form-submit {
        cursor: pointer;
        background-color: #808080;
        border: none;
        border-radius: .4rem;
        margin: .7rem 0 3rem 0;
        height: 3.5rem;
        min-width: 23rem;
        width: 23vw;

        &:hover {
          -webkit-filter: Brightness(.8);
          filter: Brightness(.8);
          -webkit-transition: 200ms;
          -o-transition: 200ms;
          transition: 200ms;
        }
      }
    }

    p {
      margin: 0 0 .7rem 0;

      .signin_right-link {
        color: #808080;
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .signin {
    .signin_left {
      display: none;
    }
    .signin_right {
      min-width: 0;
    }
  }
}
