.home {
  background-color: #191b1c;
  padding: 6rem 0 0 0;
  min-height: 100vh;

  .home_container {
    margin: 0 auto;
    width: 83%;

    a {
      outline: none;
      text-decoration: none;
    }

    .home_container_fade {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .home_container_fade-title {
        color: #f3f3f3;
        font-size: 170%;
        align-items: center;
        border-left: 2px solid #808080;
        padding: 5px 0 0 8px;
      }

      .home_container_fade-button {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        padding: 9px 6px 9px 12px;
        background-color: #202020;
        font-size: 110%;
        color: #f3f3f3;
        border: none;
        border-radius: 3px;

        .home_container_fade-button-icon {
          margin: 0 0 0 .1rem;
        }

        &:hover {
          transform: scale(1.1);
          transition: 300ms;
        }
      }
    }

    .home_container_popular {
      display: flex;
      cursor: grab;
      overflow: hidden;
      margin: 1.4rem 0 5vw .7rem;
      min-height: 15rem;
      height: 22vw;
      max-width: 85vw;

      .home_container_popular_card {
        cursor: pointer;
        margin: .6vw 1rem 0 1rem;
        min-height: 8rem;
        height: 20vw;
        min-width: 7rem;
        width: 10vw;
        max-width: 83%;

        .home_container_popular_card-image {
          color: transparent;
          min-height: 8rem;
          height: 18vw;
          width: 100%;
          border-radius: 5px;
        }

        .home_container_popular_card-title {
          color: #f3f3f3;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 120%;
          margin: .7vw 0 0 0;
          width: 100%;
        }

        &:hover {
          transition: 350ms;
          transform: scale(1.06);
        }
      }
    }

    .home_container_newmovie {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 auto;
      padding: 2rem 0 3rem 1rem;
      min-height: 20rem;
      max-width: 88vw;

      .home_container_newmovie_card {
        cursor: pointer;
        margin: 0 0 3em 0;
        height: 19.5vw;
        min-width: 7rem;
        width: 12vw;

        .home_container_newmovie_card-image {
          color: transparent;
          min-height: 8rem;
          height: 18vw;
          width: 100%;
          border-radius: 5px;
        }

        .home_container_newmovie_card-title {
          color: #f3f3f3;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 120%;
          margin: .6vw 0 0 0;
          width: 100%;
        }

        &:hover {
          transition: 350ms;
          transform: scale(1.06);
        }
      }
    }

    .home_container_ratedmovie {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 auto;
      padding: 2rem 0 3rem 1rem;
      min-height: 20rem;
      max-width: 88vw;

      .home_container_ratedmovie_card {
        cursor: pointer;
        margin: 0 0 3em 0;
        height: 19.5vw;
        min-width: 7rem;
        width: 12vw;

        .home_container_ratedmovie_card-image {
          color: transparent;
          min-height: 8rem;
          height: 18vw;
          width: 100%;
          border-radius: 5px;
        }

        .home_container_ratedmovie_card-title {
          color: #f3f3f3;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 120%;
          margin: .6vw 0 0 0;
          width: 100%;
        }

        &:hover {
          transition: 350ms;
          transform: scale(1.06);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 6rem 0 0 2vw;

    .home_container {
      width: 100%;

      .home_container_fade {
        width: 98%;
      }

      .home_container_popular {
        margin: 1rem 10px 10vw 0;
        min-height: 13rem;
        height: 34vw;
        max-width: 96vw;

        .home_container_popular_card {
      	  margin: .8rem 5px 10vw 5px;
          padding: 0 1%;
          min-height: 11rem;
          height: 30vw;
          min-width: 8rem;
          width: 20vw;
          max-width: 20vw;

          .home_container_popular_card-image {
            min-height: 10em;
            height: 90%;
          }

          .home_container_popular_card-title {
            margin: 6px 0 0 0;
          }
        }
      }

      .home_container_newmovie {
        margin: 0;
        padding: 2rem 0 3rem 0;
        min-height: 30rem;
		    max-width: 95vw;
		
        .home_container_newmovie_card {
          margin: 0 0 7vw 0;
          min-height: 11rem;
          height: 30vw;
          min-width: 8rem;
          width: 20vw;
		  
          .home_container_newmovie_card-image {
            min-height: 10em;
            height: 90%;
          }

          .home_container_newmovie_card-title {
          	margin: 6px 0 0 0;
          }
        }
      }

      .home_container_ratedmovie {
        margin: 0;
        padding: 2rem 0 3rem 0;
        min-height: 30rem;
		    max-width: 95vw;
		
        .home_container_ratedmovie_card {
          margin: 0 0 7vw 0;
          min-height: 11rem;
          height: 30vw;
          min-width: 8rem;
          width: 20vw;

          .home_container_ratedmovie_card-image {
            min-height: 10em;
            height: 90%;
          }

          .home_container_ratedmovie_card-title {
          	margin: 6px 0 0 0;
          }
        }
      }
    }
  }
}
