html {
  background-color: #191b1c;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding: 0 2rem;
  min-height: 5rem;
  height: 4vw;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0c0c0ce7;
  -webkit-backdrop-filter: blur(.2rem);
  backdrop-filter: blur(.2rem);
  z-index: 4;
  
  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f3f3;
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
    
    .header-title-icon {
      margin: 0 1rem 0 0;
      height: 2.8rem;
    }
  }

  .header_search_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .header_search_form-search {
      padding: 1.3rem 2.5rem 1.3rem .9rem;
      min-height: 3rem;
      height: 2vw;
      width: 30vw;
      font-size: 80%;
      border-radius: .3rem;
      background-color: #3e3e3eca;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #d3d3d3f9;
      border: 1px solid #3e3e3eca;
      outline: none;
      
      &:hover, &:focus {
        border: 1px solid #d3d3d3f9;
      }
    }

    .header_search_form-button {
      cursor: pointer;
      margin: .3rem 1.5rem 0 -3rem;
      background: transparent;
      border: none;
    }

    .header_search_form_dropdown {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      -webkit-box-shadow: 0px 5px 41px -0px #0c0c0ce7;
      box-shadow: 0px 5px 41px -0px #0c0c0ce7;
      top: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 5rem 3rem 0 0;
      width: 30vw;
      background-color: #333434;
      border-radius: .4rem;

      .header_search_form_dropdown_card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: .5rem .5rem 1rem .5rem;

        .header_search_form_dropdown_card-image {
          color: transparent;
          min-width: 5rem;
          border-radius: .2rem;
        }

        .header_search_form_dropdown_card_description {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 0 0 0 .7rem;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;

          .header_search_form_dropdown_card_description-title {
            color: #f3f3f3;
            font-size: 1rem;
            text-decoration: none;
          }

          .header_search_form_dropdown_card_description-synopsis {
            margin: .2rem 0 0 0;
            color: #808080;
            font-size: .7rem;
          }
        }

        .header_search_form_dropdown_card_description_vote {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: auto 0 0 0;
          height: 1rem;
          width: 2.8rem;
          color: #f3f3f3;

          .header_search_form_dropdown_card_description_vote-icon {
            margin: 0 .3rem 0 0;
          }
        }

        &:hover {
          -webkit-filter: Brightness(.8);
          filter: Brightness(.8);
          -webkit-transition: 300ms;
          -o-transition: 300ms;
          transition: 300ms;
        }
      }

      .header_search_form_dropdown-line {
        color: #808080;
      }

      .header_search_form_dropdown-title {
        font-size: .6vw;
        text-align: center;
        padding: 1rem;
        color: #f3f3f3;
      }
    }
  }
  
  .app-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    margin: 0 .5rem 0 1.5rem;
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 786px) {
  .header {
    padding: 0 1rem;
    
    .header-title {
      display: none;
    }
    
    .header_search_form {
      margin: 0 -.8rem 0 auto;
      
      .header_search_form-search {
        font-size: 1rem;
        width: 50vw;
      }

      .header_search_form-button {
        margin: .2em 2.7em 0 -3.5em;
      }

      .header_search_form_dropdown {
        margin: 5rem .3rem 0 0;
        width: 50vw;

        .header_search_form_dropdown_card {
          .header_search_form_dropdown_card_description > {
            .header_search_form_dropdown_card_description-title {
              font-size: .7rem;
            }
            .header_search_form_dropdown_card_description-synopsis {
              font-size: .6rem;
            }
          }
        }

        .header_search_form_dropdown-title {
          font-size: .4rem;
        }
      }
    }
    
    .app-button {
      display: none;
    }
  }
}
