* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.Header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 0 .7rem;
  height: 4rem;
  width: 100%;
  align-items: center;
  background-color: #0c0c0ce7;
  z-index: 1;
  
  .Menu {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  form {
    display: flex;
    justify-content: center;
    
    input {
      height: 2rem;
      width: 30vw;
      padding: 20px 10px;
      border-radius: 4px;
      background-color: #3e3e3eca;
      color: #d3d3d3f9;
      border: none;
      outline: none;
    }
    
    .Search {
      margin: 0 .6rem 0 -2.3rem;
      background: transparent;
      border: none;
    }
  }
}

.SideBar {
  display: flex;
  position: fixed;
  flex-direction: column;
  min-height: 100%;
  width: 200px;
  transition: 850ms;
  left: -100%;
  z-index: 2;
  
  .Close-Sidebar {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    width: 50px;
    margin: -5px 0 -13px 0;
  }
    
  .Buttons-Sidebar {
    height: 2.5rem;
    width: 80%;
    margin: 10px 0 0 16px;
    background: none;
    border: none;
    
    .Link {
      color: #FFF;
      text-decoration: none;
    }
  }
  
}

.SideBarActive {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #0C0C0C;
  min-height: 100%;
  width: 200px;
  transition: 350ms;
  left: 0;
  z-index: 2;
  
  .Close-Sidebar {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    width: 50px;
    margin: -5px 0 -13px 0;
  }
    
  .Buttons-Sidebar {
    height: 2.5rem;
    width: 80%;
    color: #FFF;
    margin: 10px 0 0 16px;
    background: none;
    border: none;
    
    .Link {
      padding: .8rem 3rem;
      color: #FFF;
      outline: none;
      text-decoration: none;
    }
    
  }
  .Buttons-Sidebar:hover {
    border-radius: 10px;
    background-color: #FFF;
    
    .Link {
      color: #0C0C0C;
      text-decoration: none; 
    }
    
  }
}

.Home {
  min-height: 100vh;
  background-color: #191b1c;
  padding: 5rem 0 0 1rem;
  
  h1 {
    color: #FFF;
  }
  
  .Popular {
    margin: 20px 20px 30px 20px;
    max-width: 58vw;
    
    div {
      height: 11.2rem;
      margin: 0 0 0 .3rem;
      img {
        height: 10rem;
      }
      h1 {
        font-size: .8rem;
        margin: 5px 0;
        
      }
    }
  }
  
  .NewMovie {
    display: flex;
    padding: 1.6rem 0;
    flex-wrap: wrap;
    max-width: 75vw;
    
    .Movies {
      padding: 0 1rem 2rem 0;
      img {
        height: 10rem;
      }
      .MovieTitle {
        color: #FFF;
        margin: 5px 0;
        align-items: center;
        font-weight: 500;
        font-size: .8rem;
      }
    }
    
    .Movies:hover {
      margin: 0 0 -10px 0;
      img {
        margin: -5px -5.7px -11px -5px;
        height: 11rem;
        transition: 300ms;
      }
      .MovieTitle {
        margin: 15px 0 0 -2px;
        transition: 300ms;
      }
    }
  }
  
  .NewSeries {
    display: flex;
    padding: 1.6rem 0;
    flex-wrap: wrap;
    max-width: 75vw;
    
    .Series {
       padding: 0 1rem 2rem 0;
      img {
        height: 10rem;
      }
      .SerieTitle {
        color: #FFF;
        margin: 5px 0;
        align-items: center;
        font-weight: 500;
        font-size: .8rem;
      }
    }
    
    .Series:hover {
      margin: 0 0 -10px 0;
      img {
        margin: -5px -5.7px -11px -5px;
        height: 11rem;
        transition: 300ms;
      }
      .SerieTitle {
        margin: 15px 0 0 -2px;
        transition: 300ms;
      }
    }
  }
}
  
@media screen and (max-width: 800px) {
  .Header {
    form {
      input {
        width: 60vw;
      }
    }
  }
  .Home {
    padding: 5rem 0 0 .5rem;
    
    .Popular {
      margin: 15px 0 40px 10vw;
      max-width: 82%;
      div {
        margin: 0 0 0 .2rem;
      }
    }
    
    .NewMovie {
      min-width: 100%;
      .Movies {
        padding: 0 .5rem 1.2rem 0;
      }
    }
    
    .NewSeries {
      max-width: 100%;
      .Series {
        padding: 0 .5rem 1.2rem 0;
      }
    }
  }
}